body {
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

#terminal {
    width: 95%;
    padding-left: 10px;
}

pre {
    background: -webkit-linear-gradient(#70ff45, #001aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#output {
    margin-bottom: 12px;
    margin-top: 5px;
}

label {
    color: rgb(0, 255, 242);
    font-weight: 700;

}

input {
    width: auto;
    border: none;
    background-color:transparent;
    color: #ffffff;
    outline: none;
    caret-color: rgb(53, 255, 12);
}

.about {
    border-style: ridge;
    border-color: rgb(153, 255, 0);
    border-width: thin;
    margin-top: 5px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: #eeff00;
    font-weight: 800;
}

/* Additional themes */
body.theme-light {
    background-color: #ffffff;
    color: #000000;
}

body.theme-dark {
    background-color: #000000;
    color: #ffffff;
}

body.theme-ubuntu {
    background-color: #2D0922;
    color: #ffffff;
}

body.theme-powershell {
    background-color: #012456;
    color: #ffffff;
}

.command {
    color: rgb(153, 255, 0);
    animation: Color 4s linear infinite;
}

.command2 {
    font-family: Oswald;
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
}

@keyframes Color {
    0% {
        color: #A0D468;
    }

    20% {
        color: #4FC1E9;
    }

    40% {
        color: #FFCE54;
    }

    60% {
        color: #FC6E51;
    }

    80% {
        color: #ED5565;
    }

    100% {
        color: #AC92EC;
    }
}

@-moz-keyframes Color {
    0% {
        color: #A0D468;
    }

    20% {
        color: #4FC1E9;
    }

    40% {
        color: #FFCE54;
    }

    60% {
        color: #FC6E51;
    }

    80% {
        color: #ED5565;
    }

    100% {
        color: #AC92EC;
    }
}

@-webkit-keyframes Color {
    0% {
        color: #A0D468;
    }

    20% {
        color: #4FC1E9;
    }

    40% {
        color: #FFCE54;
    }

    60% {
        color: #FC6E51;
    }

    80% {
        color: #ED5565;
    }

    100% {
        color: #AC92EC;
    }
}